<!DOCTYPE html>
<html>
<head>
</head>
<!-- Panel Body -->
<div class="panel-body">
    <!-- Creates Form -->
    <form name ="addForm" novalidate>
        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" value="San Francisco" ng-model="formData.city" required>
        </div>
        <div class="form-group">
            <label for="province">State / Province</label>
            <input type="text" class="form-control" id="province" value="California" ng-model="formData.province" required>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" value="United States" ng-model="formData.country" required>
        </div>
        <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" required>
        </div>
        <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" required>
        </div>
        <div class="form-group">
            <label for="region">Region</label>
            <input type="text" class="form-control" id="region" value="North America" ng-model="formData.region" required>
        </div>
        <div class="form-group">
            <label for="accommodation">Accommodation</label>
            <input type="text" class="form-control" id="accommodation" value="Cow Hollow Motor Inn" ng-model="formData.accommodation" required>
        </div>
        <div class="form-group">
            <label for="accommodation_alt">Alt. Accommodation</label>
            <input type="text" class="form-control" id="accommodation_alt" value="Airbnb" ng-model="formData.accommodation_alt">
        </div>
        <div class="form-group">
            <label id ="activities_label" for="activities">Activities</label>
            <select class="form-control"  multiple id="activities" ng-model="formData.activities">
            </select>
          </br>
            <div class="input-group">
              <input type="text" class="form-control" id="activity_new" placeholder="add activity" ng-model="formData.activity_new">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="addActivity()">+</button>
              </span>
            </div><!-- /input-group -->
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" id="comments" value="Home" ng-model="formData.comments" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-danger btn-block" ng-click="createPost()" ng-disabled="addForm.$invalid">Submit</button>
    </form>
</div>
