        <!-- Panel Body -->
        <div class="panel-body">
            <!-- Creates Form -->
            <form name ="queryForm">
                <div class="form-group">
                    <input type="text" class="form-control" id="keyword" placeholder="keyword" ng-model="formData.keyword">
                </div>
                <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
                <button type="submit" class="btn btn-success btn-block" ng-click="queryPosts()">Search</button>
            </form>
            <form name ="viewPost" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <input type="hidden" class="form-control" name="id" id="id" value="your id" ng-model="formData.id" required readonly>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id="city" value="San Francisco" ng-model="formData.city" required readonly>
                </div>
                <div class="form-group">
                    <label for="province">State / Province</label>
                    <input type="text" class="form-control" name="province" id="province" value="California" ng-model="formData.province" required readonly>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" name="country" id="country" value="United States" ng-model="formData.country" required readonly>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" name="latitude" id="latitude" value="39.500" ng-model="formData.latitude" required readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" name="longitude" id="longitude" value="-98.350" ng-model="formData.longitude" required readonly>
                </div>
                <div class="form-group">
                    <label for="region">Region</label>
                    <input type="text" class="form-control" name="region" id="region" value="North America" ng-model="formData.region" required readonly>
                </div>
                <div class="form-group">
                    <label for="accommodation">Accommodation</label>
                    <input type="text" class="form-control" name="accommodation" id="accommodation" value="Cow Hollow Motor Inn" ng-model="formData.accommodation" required readonly>
                </div>
                <div class="form-group">
                    <label for="accommodation_alt">Alt. Accommodation</label>
                    <input type="text" class="form-control" name="accommodation_alt" id="accommodation_alt" value="Airbnb" ng-model="formData.accommodation_alt" required readonly>
                </div>
                <div class="form-group">
                    <label for="activities">Activities</label>
                    <select class="form-control"  name="activities" multiple id="activities" ng-model="formData.activities" required disabled>
                    </select>
                  </br>
                    <div class="input-group">
                      <input type="text" class="form-control" id="activity_new" placeholder="add activity" ng-model="formData.activity_new" readonly>
                      <span class="input-group-btn">
                        <button class="btn btn-info" type="button" id="activity_new_button" style = "height: 38px;" ng-click="addActivity()" disabled>+</button>
                      </span>
                    </div><!-- /input-group -->
                </div>
                <div class="form-group">
                    <label for="comments">Comments</label>
                    <textarea class="form-control" name="comments" id="comments" value="Home" ng-model="formData.comments" rows="3" required disabled></textarea>
                </div>
                <div class="form-group">
                    <label for="change_log">Change Log</label>
                    <textarea class="form-control" name="change_log" id="change_log" value="null" ng-model="formData.change_log" rows="2" required disabled></textarea>
                </div>
                <div id="buttonDiv">
                  <button type="submit" id = "editButton" style="visibility: visible" class="btn btn-warning btn-block" ng-click="prepareToEdit(formData)">Edit</button>
                </div>
              </br>
                <button type="submit" id = "deleteButton" style="visibility: visible;" class="btn btn-danger btn-block" ng-click="deletePost()">Delete</button>
            </form>
        </div>
